.container{
  background: #870bb8;
  border-radius: 10px;
  width: 1024px;
  text-align: center;
  margin: 0 auto;
}

.header{
  background: black;
  color: darkgoldenrod;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  text-transform: uppercase;
}
.order{
  padding: 30px;
}

.choice{
  border-radius: 10px;
  padding: 20px;
}

.check{
  background: white;
  padding: 20px;
  margin: -20px 120px -15px 120px;

}
