<div class="container">
  <header class="header">кафе "страшный сон вегана"</header>
  <div class="choice">
    <app-drinks
    *ngFor="let drink of drinkOrder; let i = index"
    [drink]="drink"
    (click)="addDrink(i)"
    ><button>{{drink}}</button></app-drinks>
    <app-eat
    *ngFor="let eat of eatOrder; let i = index"
    [eat]="eat"
    (click)="addEat(i)"
    ><button>{{eat}}</button></app-eat>
  </div>
  <div class="order" id="order">
    <div class="check">
      <strong> Ваш заказ: </strong>
      <p id="tea"></p>
      <p id="coffee"></p>
      <p id="cola"></p>
      <p id="chee"></p>
      <p id="gam"></p>
      <p id="fri"></p>
      <p><strong>Итого: </strong> <span>{{ prices() }}</span></p>
    </div>
  </div>
</div>
