.btn{
  padding: 20px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid transparent;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover{
  border: 1px solid cadetblue;
  background: coral;
}
